.input_disabled {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6vh;
}
.input_enabled {
    display: flex;
    align-items: center;
    margin-top: 9.5vh;
}
.header_input {
    position: absolute;
    width: 36vw;
    padding: 3vh;
    border: none;
    background-color: #f9fafd;
}
.header_input:focus {
    outline: none;
    border-bottom: 2px solid #1e5ab5;
}
.mark_button {
    position: relative;
    margin-left: 34vw;
    color: grey;
}
.mark_button:hover {
    cursor: pointer;
    color: #084a94;
}
.loupe {
    cursor: pointer;
    margin-right: 2vw;
    color: #dedede;
}
.loupe:hover {
    color: #084a94;
}
.enter {
    cursor: pointer;
    margin-right: 2vw;
    color: #dedede;
}
.enter:hover {
    color: #084a94;
}
.exit {
    cursor: pointer;
    margin-right: 2vw;
    color: #dedede;
}
.exit:hover {
    color: #084a94;
}