.modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal_content {
    margin: 7% 5% 5% 5%;
    border-radius: 12px;
    background-color: white;
    width: 30vw;
    height: 70vh;
}
.mark_button:hover {
    cursor: pointer;
    color: #1b4c94;
}
